.App {
  text-align: center;
  margin-top: 60px;
}

.ant-input {
  width: 200px;
}

.ant-carousel {
  width: 100%;
  height: 200px;
}

.ant-carousel-item {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ant-carousel-item:nth-child(1) {
  align-self: flex-start;
}


.ant-carousel-dot {
  background-color: #ccc;
}

.ant-carousel-dot-active {
  background-color: #f00;
}